<div class="modal modal--no-shadow modal--new-user">

  <header class="modal__header">
    <h2 class="modal__title heading">Only <span class="modal__title-color">Registered</span> Members can Download Exam Questions & Answers</h2>
  </header>
  <div class="modal__content modal__content--block">
    <p class="modal__text modal__text--smaller-margin text text--extra-large">Please fill out your email address below in order to EXAM-CODE Questions & Answers.<br>
    Registration is Free and Easy, You Simply need to provide a valid email address.</p>
    <ul class="modal__list list text--extra-large">
      <li class="modal__item">Trusted by hundreds of IT Certification Candidates Every Month</li>
      <li class="modal__item">1200+ Exams Available</li>
      <li class="modal__item">Instant download After Registration</li>
    </ul>
    <form class="modal__form modal__form--register modal__form--smaller-width form" action="#" method="post">
      <p class="modal__field-wrapper form__field-wrapper form__field-wrapper--email">
        <label for="modal-email"><span class="visually-hidden">Enter your email address</span></label>
        <input class="modal__fied form__field" type="email" name="email-field" id="modal-email" placeholder="Enter your email address" required>
      </p>
      <p class="modal__text modal__text--smaller-margin text">A confirmation link will be sent to this email address to verify your login</p>
      <div class="modal__buttons-wrapper">
        <button class="modal__submit-button modal__submit-button--register button button--primary button--primary--large" type="submit">Register</button>
        <button class="modal__switch-button modal__switch-button--login button link--button" type="button">Log In</button>
      </div>
      <small class="modal__notify text text--small">*We value your privacy. We will not rent or sell your email address.</small>
    </form>
  </div>
  <button class="modal__close button" type="button"><span class="visually-hidden">Close</span></button>

</div>
