<div class="modal modal--discount modal--active-simple">
  <video class="modal__video" poster="images/other/videoposter.jpg" preload="auto" controls="" controlslist="nodownload" type="video/mp4" src="https://www.prepaway.com/showvideo/vid_115"></video>
  <div class="modal__video-footer">
    <button class="modal__video-button modal__video-button--prev button button--primary" disabled>Previous</button>
    <strong class="modal__video-title">5. Option 3- Part 4 : Connecting SYS using SQL plus & SQL DeveloperPlay Video</strong>
    <button class="modal__video-button modal__video-button--next button button--primary">Next</button>
  </div>
  <button class="modal__close button" type="button"><span class="visually-hidden">Close</span></button>
</div>