<div class="modal modal--purchase-help">
  <header class="modal__header">
    <h2 class="modal__title heading">Purchase process help</h2>
  </header>
  <div class="modal__content">
    <div class="modal__left-content">
      <ul class="modal__tab-navigation-list list">
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Placing an Order</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Reviewing Your Selections</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Payment Options</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Billing Information</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Creating an Account</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Renewing Expired Product</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Downloading and Installing</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Support Options</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Installing or Reinstalling Product Without Paying Again</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Testking Guarantee Policy</button></li>
        <li class="modal__tab-navigation-item text"><button class="modal__tab-navigation-button link button">Redeeming Discounts/Offers</button></li>
      </ul>
    </div>
    <div class="modal__right-content">
      <ul class="modal__tabs-list list">
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Placing an Order</strong>
          <p class="modal__tabs-text text">Once you've selected a product, select from the available purchase options, such as: Questions & Answers - Testing Engine product, PDF Questions & Answers or physical shipment of Hard Copy. Follow the prompts to complete your order. Note: Your steps may vary from these listed here, depending on the page(s) where you started.</p>
          <ol class="modal__tabs-content-list">
            <li class="modal__tabs-content-item text">Select the product(s) you would like to order and select from the available options such as: Testing Engine, PDF Questions & Answers, Royal Packs and click the Add to Cart button.</li>
            <li class="modal__tabs-content-item text">Your shopping cart will display a list of the product(s) you have ordered. To add more items to your cart Continue Shopping. Once you are finished selecting Products click the Cart button on Top Navigation Bar.</li>
            <li class="modal__tabs-content-item text">Fill in the Billing Information using the correct Information and click on Pay Now Button to proceed to payment. Before clicking the Pay Now button make sure that all information is Correct. A receipt page displays once you have successfully placed an order. You will then be asked to create login with Testking.com. If you currently have a Testking account, you may log in through the Log In Now tab and then proceed to Checkout.</li>
            <li class="modal__tabs-content-item text">Enter your Account Information for the fields (* indicates required fields), and then click the Continue button.</li>
            <li class="modal__tabs-content-item text">Click the Install from My Account link or the Go to My Account Now button to install your products.</li>
          </ol>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Reviewing Your Selections</strong>
          <p class="modal__tabs-text text">Your shopping cart lists the product(s) you have selected, along with quantities and totals. No Taxes are applied to Testking Products. You may remove any products from your shopping cart by clicking the "Trash" button in the row of the item you would like to remove. Click the Continue Shopping button to add more items to your shopping cart or the Check Out button once you are done shopping and would like to proceed to checkout.</p>
          <p class="modal__tabs-text modal__tabs-text--note text text--italic">Note: After clicking the Continue Shopping button, you can add any other retail product to your cart, you will be redirected to the Testking All Products Online Store.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Payment Options</strong>
          <p class="modal__tabs-text text">We accept Visa, MasterCard, American Express and, in some countries, JCB. We also accept PayPal, Moneybookers, Bank Wire Transfer and Western Union.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Billing Information</strong>
          <p class="modal__tabs-text text">When entering your credit card number on the Billing Information page, do not include spaces or dashes. Once you have completed the required information, click the Pay Now Button to proceed. Please do not click the "Pay Now" button more than once.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Creating an Account</strong>
          <p class="modal__tabs-text text">After checking out, you will be asked to create an account with Testking, if you don't already have one. An account is required for accessing the Products.</p>
          <p class="modal__tabs-text text">Complete the customer profile form and review the privacy policy. Click the Submit Button and your account will be created.</p>
          <p class="modal__tabs-text text">Remember, the email address used to create your account on Testking is your account ID. Use this email address to log in whenever you return to the Testking Web site.</p>
          <p class="modal__tabs-text text">If you currently have a Testking Account, you may log in through the Log In Now link.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Renewing Expired Product</strong>
          <p class="modal__tabs-text text">Whenever you purchase a Product, our system begin the 90 day validation period. After Expiry the Products will still show in your login and you can renew them at 40% discount just by click on the "Renew Now" button next to each Expired Product. Your shopping cart will show Product Renewal at 40% Discount. You may now proceed to check out.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Downloading and Installing</strong>
          <p class="modal__tabs-text text">After Purchase is complete, you will need to download and install your products from Testking My Account by clicking on the relevant Download/Install/Update button(s).</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Support Options</strong>
          <p class="modal__tabs-text text">You can use the Contact Us Page to find the relevant E-mail ID for specific Department.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Installing or Reinstalling Product Without Paying Again</strong>
          <p class="modal__tabs-text text">Purchased Testking Product can be download twice at any two locations of your choice. Two Authorization codes can be generated for each product from your Testking Account. For Reinstalled any previously installed product you may need to reset code. Please contact sales@testking.com for further assistance.</p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Testking Guarantee Policy</strong>
          <p class="modal__tabs-text text">If your request is within the first 30 days of purchase, we'll gladly provide you a full refund. We do not provide partial refunds. Refund can only be claimed in case you have failed corresponding after using Testking Question And Answer Product.</p>
          <p class="modal__tabs-text text">IF YOU CLAIM FOR REFUND/EXCHANGE EXAM YOU MUST DELETE THE SOFTWARE IF ALREADY INSTALLED.</p>
          <p class="modal__tabs-text text">You may exercise this right of Product Guarantee by contacting Customer Support at <a class="link" href="mailto:sales@certlane.com">sales@certlane.com</a></p>
        </li>
        <li class="modal__tabs-item">
          <strong class="modal__tabs-title text text--large">Redeeming Discounts Offers</strong>
          <p class="modal__tabs-text text">To purchase discounted product please Add the Product to cart and use provided Promo code and click Update Button. E-mail billing@testking.com if problem persists.</p>
        </li>
      </ul>
    </div>
  </div>
  <button class="modal__close button" type="button"><span class="visually-hidden">Close</span></button>
</div>