<div class="modal modal--program">
  <header class="modal__header">
    <h2 class="modal__heading heading heading--medium">Invite Your Friends to CertBolt to Download</h2>
  </header>
  <div class="modal__content">
    <h2 class="modal__text-heading heading">You have hit your mounthly limit of free products download</h2>
    <p class="modal__text text text--extra-large">Invite a friend to CertBolt. As your friend join us - you will get 2 more free products</p>
    <form class="license__form form">
      <p class="form__field-wrapper">
        <label for="email2"><span class="visually-hidden">Email address(es)</span></label>
        <input class="license__form-field form__field" type="text" name="email" id="email2" placeholder="Email address(es)*" required="">
      </p>
      <button class="license__submit button button--primary button--primary--large" type="submit">Send</button>
    </form>
    <p class="modal__text modal__text--smaller-margin text text--extra-large">Or use the alternative way to invite your friends - send them your personal direct link to join CertBolt</p>
    <button class="modal__copy-button button button--copy" type="button">Copy link</button>
    <p class="modal__notice text">* Once you have invited friends, you can view the status of your refferals in <a class="link" href="#">here</a></p>
  </div>
  <button class="modal__close button" type="button"><span class="visually-hidden">Close</span></button>
</div>